<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<title>店舗管理者トップページ</title>
</head>

<body>
	<div class="nagoyameshi-wrapper">
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container py-4 nagoyameshi-container">
				<div class="row justify-content-center">
					<div th:replace="~{fragment :: sidebar-manager}"></div>

					<div class="col container">
						<div class="row justify-content-center">
							<div class="col-xxl-9 col-xl-10 col-lg-11">
								<h1 class="mb-4 text-center" th:text="${restaurant.getName()}"></h1>
								<div class="row row-cols-md-3 row-cols-2 g-3 mb-5">
									<div class="col">
										<div class="card bg-light">
											<div class="card-body text-center">
												<h5 class="card-title">本日の予約数</h5>
												<p class="card-text">
												    <a th:href="@{/manager/reservations(date=${'today'})}" th:text="${todaysReservations + '件'}"></a>
												</p>
											</div>
										</div>
									</div>

									<div class="col">
										<div class="card bg-light">
											<div class="card-body text-center">
												<h5 class="card-title">明日の予約数</h5>
												<p class="card-text">
												    <a th:href="@{/manager/reservations(date=${'tomorrow'})}" th:text="${tomorrowsReservations + '件'}"></a>
												</p>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>
</body>

</html>